body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
}
.formName {
  display: flex;
  justify-content: center;
}
.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  max-width: 968px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  font-family: Arial;
  display: flex;

  justify-content: space-evenly;
  border-right: 2px solid white;
  border-left: 2px solid white;
}

.container:first-child {
  text-align: center;
}

.auth-form {
  display: inline-block;
  /* margin: 0 auto; */
  padding: 30px;
  background-color: rgb(48, 48, 200);
  border-radius: 4px;
  text-align: right;
  color: white;
  box-shadow: 5px 5px 20px gray;
}

.field {
  margin-bottom: 1rem;
}

.field:last-child {
  margin-bottom: 0;
}

.field > input {
  border: 0;
  border-radius: 4px;
  padding: 5px;
}

.field:last-child > button {
  padding: 10px;
  color: #fff;
  background-color: #6fd43f;
  border: 0;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
}

.field:last-child > button:hover {
  background-color: #8ae55f;
}

.field:last-child {
  text-align: center;
}
li {
  padding: 5px;
  color: #fff;
}
h2 {
  color: aliceblue;
}
.btn-patch {
  background-color: blue;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 5px;

  color: white;
}
.btn-patch:hover {
  background-color: rgb(0, 0, 102);
}
.btn-delete {
  background-color: rgb(247, 83, 83);
  transition: 0.3s;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
}
.btn-delete:hover {
  background-color: rgb(175, 4, 4);
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.prev,
.next {
  height: 30px;
  width: 100px;
}
.main-modal {
  position: fixed;
  width: 400px;
  height: 300px;
  top: 50px;
  margin-left: 35%;
  background-color: rgb(59, 206, 132);
  display: block;
  text-align: center;
  display: none;
  border-radius: 10px;
  z-index: 10;
}

.inner-modal {
  width: 500px;
  height: 300px;
  background-color: silver;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 100px;
}

.close {
  text-align: end;
}
/* new */
#searchInp {
  width: 50%;
  height: 40px;
  margin: 10px auto;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 20px gray;
}
.searchCont {
  width: 400px;
  height: 200px;
  border: 1px solid red;
  margin: 10px;
  padding: 10px;
  background-color: rgb(79, 92, 20);
  border-radius: 20px;
  box-shadow: 5px 5px 30px white;
}
.task-list {
  border: 1px solid rgb(188, 190, 47);
  border-radius: 20px;

  background-color: rgb(16, 134, 5);
}
.modalEdit {
  background-color: #6fd43f;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 0;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
}
.modalEdit:hover {
  background-color: #8ae55f;
}
.main-modal input {
  margin: 5px;
  height: 20px;
  border-radius: 10px;
}
.bg {
  width: 100%;
  height: 100vh;
  background-color: rgb(23, 66, 185);
  opacity: 0.4;
  position: fixed;
  z-index: 2;
  display: none;
}
ul {
  list-style-type: none;
  padding: 10px;
}
b {
  color: rgb(228, 252, 18);
}

/* body input {
  height: 20px;
} */
@media (max-width: 750px) {
  .container {
    flex-direction: column;
  }
  .auth-form {
    text-align: center;
    margin: 0 auto;
  }
  .searchCont {
    margin: 0 auto;
    margin-top: 20px;
  }
}
@media (max-width: 1100px) {
  .main-modal {
    width: 300px;
  }
  .container {
    flex-direction: column;
  }
  .auth-form {
    text-align: center;
    margin: 0 auto;
  }
  .searchCont {
    margin: 0 auto;
    margin-top: 20px;
  }
}
@media (max-width: 840px) {
  .container {
    max-width: 600px;
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .main-modal {
    width: 300px;
    margin-left: 30%;
  }
}
@media (max-width: 640px) {
  .container {
    max-width: 500px;
  }
}
@media (max-width: 540px) {
  .main-modal {
    width: 300px;
    margin-left: 27%;
  }
  .container {
    max-width: 400px;
  }
  .searchCont {
    max-width: 300px;
  }
}
@media (max-width: 480px) {
  .main-modal {
    width: 300px;
    margin-left: 25%;
  }
}
@media (max-width: 440px) {
  .main-modal {
    width: 300px;
    margin-left: 20%;
  }
  .container {
    max-width: 320px;
  }
}
@media (max-width: 380px) {
  .main-modal {
    width: 300px;
    margin-left: 15%;
  }
}
@media (max-width: 360px) {
  .main-modal {
    width: 300px;
    margin-left: 10%;
  }
}
