body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  max-width: 968px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  font-family: Arial;
}

.container:first-child {
  text-align: center;
}

.auth-form {
  display: inline-block;
  margin: 0 auto;
  padding: 30px;
  background-color: #f4f4f4;
  border-radius: 4px;
  text-align: right;
}

.field {
  margin-bottom: 1rem;
}

.field:last-child {
  margin-bottom: 0;
}

.field > input {
  border: 0;
  border-radius: 4px;
  padding: 5px;
}

.field:last-child > button {
  padding: 10px;
  color: #fff;
  background-color: #6fd43f;
  border: 0;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
}

.field:last-child > button:hover {
  background-color: #8ae55f;
}

.field:last-child {
  text-align: center;
}
li {
  padding: 5px;
}
.btn-patch {
  background-color: blue;
  color: white;
}
.btn-delete {
  background-color: red;
  color: white;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.main-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(103, 216, 216);
  display: block;
  text-align: center;
  display: none;
}
ul {
  list-style-type: none;
}

.inner-modal {
  width: 500px;
  height: 300px;
  background-color: silver;
  border-radius: 5px;
  margin: auto;
  margin-top: 100px;
}

.close {
  text-align: end;
}
